.button
  display: inline-block;
  position: relative;
  cursor: default;
  text-align: center;
  user-select: none;

.button__label
  font: 16px/25px arial,sans-serif;
  position: relative;
  z-index: 3;
  white-space: nowrap;
  color: #333;
  text-align: center;
