.request
  margin: 20px auto;
  width: 800px;

  .input__input
    box-sizing: border-box;
    width: 100%;

.request__i
  margin-top: 10px;

  .input
  .button
    display: table-cell;
    padding-right: 10px;

  .input:nth-child(2)
    width: 75%;

  .button
    width: 0;
    padding-right: 0;
